# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Base de datos local
data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Audio temporal
*.wav
*.mp3
*.m4a
*.amr

# Streamlit secrets
.streamlit/secrets.toml
