# === DEPENDENCIAS PRINCIPALES ===
google-genai>=0.5.0         # SDK oficial de Google para Gemini
pydantic>=2.0.0             # Para schemas estructurados devueltos por LLM
rich>=13.0.0                # Interfaz de usuario bonita en la terminal
python-dotenv>=1.0.0        # Cargar variables (.env)
streamlit>=1.30.0           # Interfaz Web móvil para el parque
supabase>=2.0.0             # Cliente oficial de Supabase (HTTPS/Robusto)

# === DEPEDENCIAS MULTIMODALES (Entrada por voz nativa) ===
sounddevice>=0.4.6          # Graba el audio desde el micrófono (Local PC)
scipy>=1.10.0               # Guardar la grabación en archivo local .wav
